@import "main.scss";
.main {}

.work-block {
    &__content {
        padding: 84px 0 58px 0;
    }
    &__title {
        font-weight: 900;
        font-size: 44px;
        line-height: 60px;
        /* or 136% */
        /* Dark Color */
        color: #21243D;
        margin: 0px 0px 50px 0px;
    }
    &__works {}
}

@media(max-width:460px) {
    .work-block {
        &__content {
            padding: 38px 0 0 0;
        }
        &__title {
            font-size: 30px;
            margin: 0px 0px 33px 0px;
        }
        &__works {}
    }
}

.container {}

.work {
    padding: 0 0 48px 0;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: auto 1fr;
    column-gap: 18px;
    border-bottom: 1px solid #21243D;
    &__container {
        max-width: 702px;
    }
    &__img {}
    &__img img {
        width: 100%;
    }
    &__info {}
    &__title {
        font-size: 30px;
        line-height: 44px;
        /* identical to box height */
        /* Dark Color */
        color: #21243D;
        margin: 0px 0px 20px 0px;
    }
    &__details {
        display: flex;
        //gap: 26px;
        margin: 0px 0px 22px 0px;
    }
    &__year {
        padding: 6px 10px;
        background: #142850;
        border-radius: 16px;
        color: #fff;
        max-width: 62px;
        max-height: 25px;
        text-align: center;
        //line-height: 60px;
        margin: 0px 26px 0px 0px;
    }
    &__category {
        font-size: 20px;
        line-height: 29px;
        /* Light */
        color: #8695A4;
    }
    &__text {
        line-height: 23px;
        /* Dark Color */
        color: #21243D;
    }
    &:not( :last-child) {
        margin: 0px 0px 44px 0px;
    }
}

@media(max-width:460px) {
    .work {
        padding: 0 0 17px 0;
        grid-template-rows: auto 1fr;
        grid-template-columns: 1fr;
        row-gap: 17px;
        &__title {
            font-size: 24px;
            line-height: 30px;
            display: block;
            margin: 0px 0px 16px 0px;
        }
        &__details {
            gap: 22px;
            margin: 0px 0px 25px 0px;
        }
        &__year {
            font-size: 16px;
        }
        &__category {
            font-size: 16px;
            line-height: 23px;
        }
        &:not( :last-child) {
            margin: 0px 0px 22px 0px;
        }
    }
}